# fly.toml app configuration file generated for photobooth-iph on 2026-02-28T04:41:16+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'photobooth-iph'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512
